<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true" colors="true"
         cacheResult="false" executionOrder="random"
         bootstrap="vendor/autoload.php">
    <coverage processUncoveredFiles="true">
        <report>
            <html outputDirectory="./coverage" lowUpperBound="20" highLowerBound="50"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Gac Routing Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
